/GestaoFazenda/bin/GestaoFazenda.dll
/GestaoFazenda/bin/GestaoFazenda.pdb
/GestaoFazenda/obj/Debug
/GestaoFazenda/Web.config
/GestaoFazenda/Web.Debug.config
/GestaoFazenda/Web.Release.config
/GestaoFazenda/.vs/GestaoFazenda/v16/.suo
/GestaoFazenda/Web-Atualizacao20200502.config
/GestaoFazenda/obj
/GestaoFazenda/Properties/PublishProfiles
